@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}
.fw-bold {
    font-weight: 700 !important;
}
.fw-bolder {
    font-weight: 800 !important;
}

.text-dark {
    color: #183153 !important;
  }
.text-primary {
    color: #000 !important;
  }
.text-secondary {
    color: rgb(95, 105, 125) !important;
  }
.text-blue {
    color: #1c7ed6 !important;
  }