@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
  text-decoration: none !important;
}
body {
    font-family: 'Nunito', sans-serif;
}
.fw-bold {
    font-weight: 700 !important;
}
.fw-bolder {
    font-weight: 800 !important;
}

.text-dark {
    color: #183153 !important;
  }
.text-primary {
    color: #000 !important;
  }
.text-secondary {
    color: rgb(95, 105, 125) !important;
  }
.text-blue {
    color: #1c7ed6 !important;
  }

  .spin {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  